# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Snooping as usual, I see? 🐰
assets_dev
src/assets/images/gallery
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Own stuff
src/assets/components/carouselComponentSlick.tsx
src/assets/components/carouselComponentSwiper.tsx
src/assets/components/carouselComponentMultiCarousel.tsx