@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .debug {
    background-color: rgb(161, 22, 161);
    border: cyan 4px dashed !important;
    animation: debug 2.5s infinite ease-in-out;
  }
  @keyframes debug {
    from {
      background-color: rgb(101, 19, 101);
    }
    50% {
      background-color: rgb(169, 52, 169);
    }
    to {
      background-color: rgb(101, 19, 101);
    }
  }
  .clearfix {
    overflow: auto;
  }
}

body {
  height: 100vh;
}
img {
  object-fit: scale-down;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divider {
  border: 1px solid rgba(214, 214, 214, 0.821);
}

#root {
  padding-top: 0;
  max-width: 100%;
  margin:auto;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .divider {
    border: 1px solid rgba(29, 1, 57, 0.821);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .dance {
    position: relative;
    top: 0px;
    animation: dance infinite 1.5s steps(1, end);
  }

  @keyframes dance {
    from {
      transform: scale(1, 1);
      top: 50px;
    }
    40% {
      transform: scale(1, 1);
      top: 0px;
    }
    50% {
      transform: scale(-1, 1);
      top: 50px;
    }
    90% {
      transform: scale(-1, 1);
      top: 0px;
    }
    to {
      transform: scale(-1, 1);
      top: 0px;
    }
  }
}